
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: 'Instrument Sans', sans-serif;
  }

.header {
  margin-right: 20px;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 400;
  font-size: 14px;
}

.logo {
  height: 32px;
}

.icon {
  height: 20px;
  width: 20px;
  object-fit: contain;
}
.navi{
  display: flex;
  gap:4rem;
  align-items: center;

}
  .fw-bold.mb-3.one {
    font-size: 32px;
    color: #11224B;
  }

  .d-flex.ms-auto img{
    max-height: 12px;
    width: auto;
    margin-left: 10px;
  }
  .sort_text{
    font-size: 20px;
  }

  .header a{
   font-size: 22px;
  }
  
  .header:hover {
    text-decoration: underline;
  }
  
  .message-line {
    border-bottom: 1px solid #0d3a6b;
    padding: 12px 0;
    cursor: pointer;
  }
  
  .footer {
    background-color: #0d3a6b;
    color: #E5ECFF;
    padding: 20px 0;
    font-size: 16px;
  }

  .footer a{
    text-decoration: none;
    color: #E5ECFF;
  }
  
  .pagination {
    justify-content: center;
  }
  
  .blue-highlight {
    color: #0d3a6b;
  }
  
  .placeholder-box {
    height: 255px;
    width: 255px;
    background-color: #E5ECFF;
    border-radius: 12px;
  }
  