{% extends "base.html" %}
{% load static %}

{% block title %}{{ summary.title }}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between  mb-2">
        <h1 class="fw-bold">{{ summary.title }}</h1>

        <div class="d-flex ms-auto">
            <p>priorytet</p>
            <img
                    {% if summary.priority == 0 %}
                        src="{% static "img/green.png" %}"
                    {% elif summary.priority == 1 %}
                        src="{% static "img/yellow.png" %}"
                    {% elif summary.priority == 2 %}
                        src="{% static "img/red.png" %}"
                    {% endif %}

                    alt="{{ summary.priority }}">
        </div>

    </div>

    <p>{{ summary.summary_pl }}</p>
    <p><a href="{{ summary.url }}">zobacz na stronie gov</a></p>

    <hr>
    <h1 class="fw-bold">Zadania</h1>
    <div class="row mb-3">
        <div class="col-md-12">
            {% for task in tasks %}
            <div class="task-line">
                <span>{{ task.title }}</span>
                <div class="progress mx-3"><div class="progress-bar" style="width: {{ task.percentage }}%"></div></div>
                <span class="task-status">{{ task.percentage }}%</span>
                <p>{{ task.assigned_to.first_name }} {{ task.assigned_to.last_name }}</p>
            </div>
            {% endfor %}

        </div>
    </div>
    <p><a href="#">zarządzaj zadaniami dla tego komunikatu</a></p>

    <div class="row mb-5 gx-3">
        <div class="col-6 col-md-4 col-lg-2">
            <div class="placeholder-box"></div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="placeholder-box"></div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="placeholder-box"></div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="placeholder-box"></div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="placeholder-box"></div>
        </div>
    </div>

{% endblock %}